*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--pixel) * 1400);
}
/*=========== custom property ==============*/
:root{
    --pixel : 0.065vw;
    --primary : #ffb302 ;
    --secondary : #0c1020 ;
    --light-gray : #E1E6EE;
    --gray : #757f95;

    --transition : 0.3s all ease;
}
/*
**other
*/
a{
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
li{
    list-style: none;
}
img{
    display: block;
}
button{
    border: none;
    background-color: transparent;
}
.d-flex{
    display: flex;
}
.fd-colums{
    flex-direction: column;
}
.js-center{
    justify-content: center;
}
.js-between{
    justify-content: space-between;
}
.al-center{
    align-items: center;
}
.gap-20{
    gap: calc(var(--pixel) * 20) ;
}
.gap-10{
    gap: calc(var(--pixel) * 10) ;
}
.gap-30{
    gap: calc(var(--pixel) * 30) ;
}
/* button */
.btn{
    padding: 5px 15px;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    transition: color 1s;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: calc(var(--pixel) * -20);
    z-index: -1;
    width: 150%;
    height: 110%;
    transform: scaleX(0) skewX(35deg);
    transform-origin: bottom;
    transition: transform 0.7s;
    background-color: var(--primary);
}
.btn:hover::before{
    transform: scaleX(1) skewX(35deg);
}
/*=========== header ==============*/
.header .top-nav{
    color: var(--gray);
    padding: calc(var(--pixel) * 10) 0 ;
    font-size: calc(var(--pixel) * 15);
    line-height:calc(var(--pixel) * 22);
    font-weight: 700;
    border-bottom: 1px solid var(--light-gray);
}
.header .top-nav .time-email::after{
    position: relative;
}
.header .top-nav .time-email .time-work::after,
.header .top-nav .time-email .email::after{
    content: '|';
    color: var(--gray);
    margin-left: calc(var(--pixel) * 25);
}
.header .top-nav .clock,
.header .top-nav .mail,
.header .top-nav .phone{
    color: var(--primary);
    margin-right: calc(var(--pixel) * 8) ;
}
.header .top-nav .social-media > * >*{
    font-size: calc(var(--pixel) * 20);
    transition: var(--transition);
}
.header .top-nav .social-media a i:hover{
    color: var(--primary);
}
.header .nav{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: calc(var(--pixel) * 20) 0;
}
.header .nav .menu{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    gap: calc(var(--pixel) * 30);
    font-size: calc(var(--pixel) * 18);
    line-height: calc(var(--pixel) * 22);
    font-weight: 700;
    color: var(--gray);
    text-transform: capitalize;
}
.header .nav .menu li{
    transition: .3s all ease;
    position: relative;
}
.header .nav .menu a{
    padding-bottom: calc(var(--pixel) * 10);
    position: relative;
}
.header .nav .menu a::after{
    content: "";
    position: absolute;
    width: 0;
    height: calc(var(--pixel) * 2);
    background-color: var(--primary);
    bottom: 0;
    left: 0;
    transition: 0.3s all ease-in-out;
}
.header .nav .menu a:hover:after{
    width: 100%;
}
.header .nav .menu a:hover{
    color: var(--meduim);
}
.header .nav .menu li:hover{
    color: var(--primary) ;
}
.header .nav .free-trial{
    font-size: calc(var(--pixel) * 18);
    font-weight: 700;
    color: var(--primary);
    padding: calc(var(--pixel) * 10) calc(var(--pixel) * 25);
    border: 1px solid var(--primary);
    border-radius: calc(var(--pixel) * 50);
    margin-left: calc(var(--pixel) * 20);
    transition: var(--transition);
}
.header .nav .free-trial:hover{
    color: #fff;
}
.header .nav .shop-card{
    font-size: calc(var(--pixel) * 23);
    position: relative;
    color: var(--gray);
}
.header .nav .shop-card::after{
    content: '0';
    position: absolute;
    top: calc(var(--pixel) * -10);
    right: calc(var(--pixel) * -10);
    background-color: var(--primary);
    color: #fff;
    font-size: calc(var(--pixel) * 10);
    padding: calc(var(--pixel) * 5);
    border-radius: 50%;
}
/*=========== banner ==============*/
.banner {
    position: relative;
}
.banner .arrow > i {
    font-size: calc(var(--pixel) * 25);
    top: 50%;
    position: absolute;
    background-color: var(--primary);
    color: #fff;
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 16);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}
.banner .arrow > i:hover {
    background-color: var(--light-gray);
    color: var(--secondary);
}
.banner .arrow .fa-arrow-right {
    right: calc(var(--pixel) * 15);
}
.banner .arrow .fa-arrow-left {
    left: calc(var(--pixel) * 15);
}
.banner .banner-slider .slider .img{
    width: 100%;
}
.banner .banner-slider .slider .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000050;
    z-index: 1 ;
}
.banner .banner-slider .slider {
    position: relative;
}
.banner .banner-slider .slider .text{
    position: absolute;
    top: 50%;
    left: calc(var(--pixel) * 150);
    transform: translateY(-50%);
    z-index: 10;
}
.banner .banner-slider .slider .title{
    color: #fff;
    font-size: calc(var(--pixel) * 60);
    font-weight: 700;
    line-height: calc(var(--pixel) * 80);
    margin-bottom: calc(var(--pixel) * 40);
}
.banner .banner-slider .slider .title span{
    color: var(--primary);
}
.banner .banner-slider .slider .btn{
    padding: calc(var(--pixel) * 15) calc(var(--pixel) * 20);
    font-size: calc(var(--pixel) * 22);
    font-weight: 700;
    border-radius: calc(var(--pixel) * 15);
    margin-right: calc(var(--pixel) * 20);
    color: var(--primary);
}
.banner .banner-slider .slider .btn:hover{
    color: #fff;
}